/* app/HomePage.module.css */


/* This targets every direct child of the container (our two sections) */
.container > * {
  /* This tells each section to be a snap point */
  scroll-snap-align: start;
}


.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}